{% extends "molesweeper/base.html" %}
{% block script %}
<!-- jquery, underscore and backbone libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/libs/json2.js"></script>
<script src="{{ STATIC_URL }}js/libs/backbone-min.js"></script>
<!-- molesweeper javascript all rolled into one file and minified -->
<script src="{{ STATIC_URL }}molesweeper/js/all.js"></script>
{% endblock%}
{% block content %}

<h1>Molesweeper: Mole whacks you!</h1>
<ul>
  <li>Click on the game board to uncover tiles, which will tell you how many moles are nearby.</li>
  <li>Right-click to flag tiles you think contain moles, and right-click again to unflag them if
   you think you've made a mistake.</li>
  <li>When you have correctly flagged all mines and uncovered all other tiles, you win!</li>
  <li>If you lose...you'll know.</li>
</ul>
<div id="game">
  
  <h3>Moles Flagged: <span id="minesFlaggedLabel"></span></h3>
  <div id="board"></div>  
  
  <img id="gameOver" alt="fffffuuuu face" class=" hidden " src="{{ STATIC_URL }}molesweeper/img/fffuuu.jpg"/>
  <img id="youWin" alt="you win this time face" class=" hidden " src="{{ STATIC_URL }}molesweeper/img/youWin.jpg"/>

  <div id="info">
    <form id="newGame" type="get" action="#">
        <fieldset>
          <legend>Game Options</legend>
          <ol>
            <li>
              <label for="rows">Rows</label>
              <input id="rows" type="text" value="10"/>
            </li>
            <li>
              <label for="columns">Columns</label>
              <input id="columns" type="text" value="10"/>            
            </li>  
            <li>
              <label for="mines">Mines</label>
              <input id="mines" type="text" value="2"/>          
            </li>
          </ol>
          <input type="submit" value="New Game"/>
        </fieldset>    
    </form>
    
  </div>
   
  


</div>

{% endblock %}
